<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Free Perth real pixels Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="web/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,700,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<script src="web/js/jquery.min.js" type="text/javascript"></script>
<script src="web/js/modernizr.custom.js" type="text/javascript"></script>
<script type="text/javascript" src="web/js/move-top.js"></script>
<script type="text/javascript" src="web/js/easing.js"></script>
<link href="web/css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
<script src="web/js/jquery.magnific-popup.js" type="text/javascript"></script>
<script type="text/javascript">
				jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
		</script>
</head>
<body>
  <div class="header">
	 <div class="wrap">
		 <div class="header_top">
		 	     <div class="logo">
						<a href="index.html"><img src="web/images/logo.png" alt="" /></a>
					</div>	
					      <div class="menu">																
					     	 <a href="#" class="right_bt" id="activator"><img src="web/images/nav.png" alt="" /></a>
					     	    <div class="box" id="box">
					        	   <div class="box_content">        					                         
					                <div class="box_content_center">
					                   <div class="form_content">
						                     <div class="menu_box_list">
									      		<ul>
											  		<li><a href="#"><i><img src="web/images/home.png" alt="" /></i><span>home</span></a></li>
											  		<li class="active"><a href="#about" class="scroll"><i><img src="web/images/about.png" alt="" /></i><span>about me</span></a></li>
											  		<li><a href="#portfolio" class="scroll"><i><img src="web/images/portfolio.png" alt="" /></i><span>portfolio</span></a></li>
											  		<li><a href="#contact" class="scroll"><i><img src="web/images/contact.png" alt="" /></i><span>drop me a line</span></a></li>
									    		</ul>
									        </div>
						                   <a class="boxclose" id="boxclose"><img src="web/images/close.png" alt=""></a>
					                   </div>                
					                   <div class="clear"></div>
					                </div> 
					           </div>
					        </div>
						 <div class="clear"></div>
						  <script type="text/javascript">
								var $ = jQuery.noConflict();
									$(function() {
										$('#activator').click(function(){
												$('#box').animate({'top':'0px'},500);
										});
										$('#boxclose').click(function(){
												$('#box').animate({'top':'-700px'},500);
										});
									});
									$(document).ready(function(){
									
									//Hide (Collapse) the toggle containers on load
									$(".toggle_container").hide(); 
									
									//Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
									$(".trigger").click(function(){
										$(this).toggleClass("active").next().slideToggle("slow");
										return false; //Prevent the browser jump to the link anchor
									});
									
									});
								</script>
					      </div> 						
	    		 <div class="clear"></div>
	        </div>
	         <div class="header_desc">
	         	 <h1>Meet Perth,</h1>
	         	 <p>A stupidly simple, flat PSD. Oh yeah, it's <span>free</span> too!</p>
	         	 <div class="button"><a href="http://w3layouts.com/" target="_blank" >Download <i><img src="web/images/download-icon.png" alt="" /></i></a></div>
	         	 <div class="iphone_img">
	         	 	<img src="web/images/iphone-big.png" alt="" />
	         	 </div>
	         </div>
	    </div>
  </div>			      	
     		<div class="content">    
 	    		 	<div id="cbp-so-scroller" class="cbp-so-scroller"> 		
 		    				 <div class="content_top">																 			
						 			 <div class="ipad_desc" id="about">      
					                   <h2>A Longwinded Header</h2>
					                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet.</p>
					                   <p class="italic">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                 
					                     <div class="button green"><a class="popup-with-zoom-anim" href="#small-dialog">Say Hello <i><img src="web/images/mail.png" alt="" /></i></a>
					                           <div id="small-dialog" class="mfp-hide">
					                           	    <div class="comments-area">
														<form>
															<div>
													    	   <span class="label"><label>Your Name <span class="red">*</span></label></span>
													    	   <span class="text-field"><input name="userName" type="text" class="textbox"></span>
													    	   <div class="clear"></div>
													        </div>
															<div>
													    		<span class="label"><label>E-mail <span class="red">*</span></label></span>
													    		<span class="text-field"><input name="userEmail" type="text" class="textbox"></span>
													    		<div class="clear"></div>
													    	</div>
															<div>
													    	   <span class="label"><label>Website Name</label></span>
													    	   <span class="text-field"><input type="text" class="textbox"></span>
													    	   <div class="clear"></div>
													    	</div>
															<div>					    	
													    		<span class="label"><label>Description <span class="red">*</span></label></span>
													    		<span class="text-field"><textarea name="userMsg"> </textarea></span>
													    		<div class="clear"></div>
													   	   </div>
															<div>
													   			<span class="text-field"><input type="submit" value="Submit" class="myButton"></span>
													   			 <div class="clear"></div>
													  		</div>
														</form>		
													</div>
												</div>
											   <script>
													$(document).ready(function() {
														$('.popup-with-zoom-anim').magnificPopup({
															type: 'inline',
													
															fixedContentPos: false,
															fixedBgPos: true,
													
															overflowY: 'auto',
													
															closeBtnInside: true,
															preloader: false,
															
															midClick: true,
															removalDelay: 300,
															mainClass: 'my-mfp-zoom-in'
														});
																					
													});
													</script>
										 </div>
					                 </div>     
					                <div class="ipad_img">
					                  <section class="cbp-so-section cbp-so-init cbp-so-animate">
					                  	<article class="cbp-so-side cbp-so-side-right">						                
							         	 	<img src="web/images/ipad.png" alt="">			         
						 	        </article>
						         </section>  
					 	 	 </div> 
				       <div class="clear"></div>    					              		    				    					                      			   							
				</div>		   		   				    		    					
  		    		<div class="content_bottom" id="portfolio">
  		    			     <div class="devices">
  		    				      <section class="cbp-so-section cbp-so-init">		
  		    					    <article class="cbp-so-side cbp-so-side-left">					  		  	    
					  		  	   	    <img src="web/images/devices.png" alt="">			  		  	     
					  		  	     </article>
					  		  	  </section>	
					  		   </div>			
					  		  	    <div class="devices_desc">
					  		  	    	 <h2>Get a Dog Up Ya'</h2>
					  		  	    	 <p><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</span></p>
					  		  	         <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					  		  	          <div class="button dribbble"><a href="http://dribbble.com/peterfinlan" target="_blank">View On Dribbble <i><img src="web/images/dribbble.png" alt="" /></i></a></div>
					  		       </div>
					  		       <div class="clear"></div>   
					  		  </div> 		    																 				 	
		  				 </div>  			  
  		     <div class="strip">
  		    	<div class="wrap">  
  		   		       <h3>Like What You See?</h3>
  		   		       <div class="button"><a class="popup-with-zoom-anim" href="#small-dialog">Buy Me A <span>Beer?</span> <i><img src="web/images/beer.png" alt="" /></i></a></div>
  		     	</div>
  		   </div>
  		    <div class="contact" id="contact">
  		    	<div class="wrap"> 
  		    		 <div class="socila_icons">
  		    		 	<ul>
  		    		 		<li class="dribbble-icon"><a href="#"> </a></li> 
  		    		 		<li class="facebook"><a href="#"> </a></li>
  		    		 		<li class="twitter"><a href="#"> </a></li>
  		    		 		<li class="mail"><a href="#"> </a></li>		    		 				    		 		
  		    		 	</ul>
  		    		 </div>
  		    		 
  		       <div class="newsletter_subscription"> 	
  		    		 <h3>Newsletter Subscription</h3>
  		    		 <div class="search_box"> 		    		 	
						 <form>
							<input type="text" class="textbox" value="Enter Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}">
					        <input type="submit" value="">
				         </form>
				     </div>
				      <div class="clear"></div>   
  		    	</div>
  		    </div>
         </div>	
   </div>	
     <div class="copy-right">
			<div class="wrap">
				<p class="copy">© 2013 Designed by <a href="http://dribbble.com/peterfinlan" target="_blank">Peter Finlan</a>  • Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a> </p>
			</div>
	  </div> 
	   <script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
    
    <script src="web/js/classie.js"></script>
		<script src="web/js/cbpScroller.js"></script>
		<script>
			new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
		</script>
		
</body>
</html>

